/* 
  * MOBILE(< 768px)---------------------------------------------
  * fixture                                sm
  * num of columns                         4
  * gutter                                 20px
  * margin                                 5px
  * container-size                         100% - (5px * 2)
  
  * TABLET(>= 768px)---------------------------------------------
  * fixture                                md
  * num of columns                         12
  * gutter                                 20px
  * margin                                 30px
  * container-size                         100% - (30px * 2)
  * max-container                          960px
  
  * DESKTOP(>= 1200px)---------------------------------------------
  * fixture                                lg
  * num of columns                         12
  * gutter                                 20px
  * unit                                   75px
  * margin                                 auto
  * container-size                         1140px
  * max-container                          1140px
*/

$gutter: 20px;

$sm-columns: 4;
$sm-margin: 5px;

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  [class^='col-'] {
    padding: 0 $gutter / 2;
  }
  @for $i from 1 through $sm-columns{
    .col-sm-#{$i} {
      width: percentage($i / $sm-columns);
    } 
  }
}