/************ icon-svg font import ************/
@import './base/_fonts';

/************ normalize css  ************/
@import './base/_normalize';

/************ reset css  ************/
@import './base/_reset.scss';